<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://down.wss1.cn/pi2bgf8/i/j3/ij3upi2bgf8?cdn_sign=1763861338-84-0-9688ef37557de6f6a192bd319baf4923&exp=1200&response-content-disposition=attachment%3B%20filename%3D%22Shadowrocket_2.2.55_ios_12.0.ipa%22%3B%20filename%2A%3Dutf-8%27%27Shadowrocket_2.2.55_ios_12.0.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://raw.githubusercontent.com/yongshuai1013/yongshuai1013/refs/heads/main/logo.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://raw.githubusercontent.com/yongshuai1013/yongshuai1013/refs/heads/main/logo.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.xxxx.demo</string>
				<key>bundle-version</key>
				<string>2.2.55</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Shadowrocket App download</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
