<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>UIApplicationShortcutItems</key>
    <array>
      <dict>
        <key>UIApplicationShortcutItemTitle</key>
        <string>DLW_TOGGLE_CONNECTION</string>
        <key>UIApplicationShortcutItemType</key>
        <string>toggle-vpn</string>
        <key>UIApplicationShortcutItemIconFile</key>
        <string>icon-toggle-vpn</string>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemTitle</key>
        <string>DLW_UPDATE_SUBSCRIPTIONS</string>
        <key>UIApplicationShortcutItemType</key>
        <string>update-subscriptions</string>
        <key>UIApplicationShortcutItemIconFile</key>
        <string>icon-update-subscriptions</string>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemTitle</key>
        <string>DLW_EDIT_CONFIG</string>
        <key>UIApplicationShortcutItemType</key>
        <string>edit-config</string>
        <key>UIApplicationShortcutItemIconFile</key>
        <string>icon-edit-config</string>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemTitle</key>
        <string>DLW_ADD_SERVER</string>
        <key>UIApplicationShortcutItemType</key>
        <string>add-server</string>
        <key>UIApplicationShortcutItemIconFile</key>
        <string>icon-add-server</string>
      </dict>
      <dict>
        <key>UIApplicationShortcutItemTitle</key>
        <string>DLW_CONNECTIVITY_TEST</string>
        <key>UIApplicationShortcutItemType</key>
        <string>connectivity-test</string>
        <key>UIApplicationShortcutItemIconFile</key>
        <string>icon-connectivity-test</string>
      </dict>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>DTPlatformVersion</key>
    <string>18.0</string>
    <key>DTSDKBuild</key>
    <string>22A3362</string>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleLightContent</string>
    <key>UISupportsDocumentBrowser</key>
    <false/>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>Scan QR code</string>
    <key>NSUbiquitousContainers</key>
    <dict>
      <key>iCloud.com.liguangming.Shadowrocket</key>
      <dict>
        <key>NSUbiquitousContainerSupportedFolderLevels</key>
        <string>Any</string>
        <key>NSUbiquitousContainerName</key>
        <string>Shadowrocket</string>
        <key>NSUbiquitousContainerIsDocumentScopePublic</key>
        <true/>
      </dict>
    </dict>
    <key>CFBundleDisplayName</key>
    <string>Shadowrocket</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeName</key>
        <string>All Files</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.content</string>
          <string>public.data</string>
          <string>public.item</string>
        </array>
        <key>CFBundleTypeIconFiles</key>
        <array/>
        <key>LSHandlerRank</key>
        <string>Default</string>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>Folder</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>fold</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.folder</string>
        </array>
        <key>LSHandlerRank</key>
        <string>Default</string>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>Shadowrocket Rule File</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.liguangming.Shadowrocket.conf</string>
        </array>
        <key>CFBundleTypeIconFiles</key>
        <array/>
        <key>LSHandlerRank</key>
        <string>Owner</string>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>Shadowrocket Server File</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.liguangming.Shadowrocket.yaml</string>
        </array>
        <key>CFBundleTypeIconFiles</key>
        <array/>
        <key>LSHandlerRank</key>
        <string>Owner</string>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>Shdowrocket Lua File</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.liguangming.Shadowrocket.lua</string>
        </array>
        <key>CFBundleTypeIconFiles</key>
        <array/>
        <key>LSHandlerRank</key>
        <string>Owner</string>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>Shdowrocket MMDB File</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.liguangming.Shadowrocket.mmdb</string>
        </array>
        <key>CFBundleTypeIconFiles</key>
        <array/>
        <key>LSHandlerRank</key>
        <string>Owner</string>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>Shdowrocket Module File</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.liguangming.Shadowrocket.sgmodule</string>
          <string>com.liguangming.Shadowrocket.module</string>
        </array>
        <key>CFBundleTypeIconFiles</key>
        <array/>
        <key>LSHandlerRank</key>
        <string>Owner</string>
      </dict>
    </array>
    <key>DTXcodeBuild</key>
    <string>16A242d</string>
    <key>UTExportedTypeDeclarations</key>
    <array>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.liguangming.Shadowrocket.conf</string>
        <key>LSHandlerRank</key>
        <string>Owner</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.mime-type</key>
          <string>text/plain</string>
          <key>public.filename-extension</key>
          <string>conf</string>
        </dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.utf8-plain-text</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Shadowrocket Rule File</string>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.liguangming.Shadowrocket.yaml</string>
        <key>LSHandlerRank</key>
        <string>Owner</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.mime-type</key>
          <string>text/plain</string>
          <key>public.filename-extension</key>
          <string>yaml</string>
        </dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.utf8-plain-text</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Shadowrocket Rule File</string>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.liguangming.Shadowrocket.yml</string>
        <key>LSHandlerRank</key>
        <string>Owner</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.mime-type</key>
          <string>text/plain</string>
          <key>public.filename-extension</key>
          <string>yml</string>
        </dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.utf8-plain-text</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Shadowrocket Rule File</string>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.liguangming.Shadowrocket.lua</string>
        <key>LSHandlerRank</key>
        <string>Owner</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.mime-type</key>
          <string>text/plain</string>
          <key>public.filename-extension</key>
          <string>lua</string>
        </dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.utf8-plain-text</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Shadowrocket Lua File</string>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.liguangming.Shadowrocket.sgmodule</string>
        <key>LSHandlerRank</key>
        <string>Owner</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.mime-type</key>
          <string>text/plain</string>
          <key>public.filename-extension</key>
          <string>sgmodule</string>
        </dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.utf8-plain-text</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Shadowrocket Module File</string>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.liguangming.Shadowrocket.module</string>
        <key>LSHandlerRank</key>
        <string>Owner</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.mime-type</key>
          <string>text/plain</string>
          <key>public.filename-extension</key>
          <string>module</string>
        </dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.utf8-plain-text</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Shadowrocket Module File</string>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.liguangming.Shadowrocket.mmdb</string>
        <key>LSHandlerRank</key>
        <string>Owner</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.mime-type</key>
          <string>application/octet-stream</string>
          <key>public.filename-extension</key>
          <string>mmdb</string>
        </dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Shadowrocket MMDB File</string>
      </dict>
    </array>
    <key>CFBundleIdentifier</key>
    <string>com.liguangming.Shadowrocket</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>DLWCronScriptIntent</string>
      <string>DLWGlobalRoutingIntent</string>
      <string>DLWStartTunnelIntent</string>
      <string>DLWStopTunnelIntent</string>
      <string>DLWToggleTunnelIntent</string>
      <string>DLWUpdateSubscriptionIntent</string>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>twitter</string>
      <string>tweetbot</string>
      <string>tg</string>
      <string>googlegmail</string>
      <string>ms-outlook</string>
    </array>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UIStatusBarTintParameters</key>
    <dict>
      <key>UINavigationBar</key>
      <dict>
        <key>Style</key>
        <string>UIBarStyleDefault</string>
        <key>Translucent</key>
        <false/>
      </dict>
    </dict>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>MinimumOSVersion</key>
    <string>12.0</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Save QR code to photo library</string>
    <key>CFBundleName</key>
    <string>Shadowrocket</string>
    <key>CFBundleShortVersionString</key>
    <string>2.2.55</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>Use local networking to manger your config files remotely.</string>
    <key>UIAppFonts</key>
    <array>
      <string>SFMono-Regular.otf</string>
    </array>
    <key>CFBundleExecutable</key>
    <string>Shadowrocket</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>fetch</string>
      <string>processing</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>23G93</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>UIApplicationSceneManifest</key>
    <dict>
      <key>UISceneConfigurations</key>
      <dict/>
    </dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>For Detect Wi-Fi SSID on iOS 12 later</string>
    <key>CFBundleVersion</key>
    <string>2375</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleURLIconFile</key>
        <string>Icon</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>shadowrocket</string>
          <string>rocket</string>
          <string>ss</string>
          <string>sr</string>
          <string>shadowsocks</string>
          <string>ssr</string>
          <string>vmess</string>
          <string>socks</string>
          <string>ssocks</string>
          <string>sub</string>
          <string>trojan</string>
          <string>trojan-go</string>
          <string>snell</string>
          <string>vless</string>
          <string>relay</string>
          <string>hysteria</string>
          <string>hysteria2</string>
          <string>clash</string>
          <string>tuic</string>
          <string>wireguard</string>
          <string>wg</string>
          <string>ssh</string>
        </array>
        <key>CFBundleURLName</key>
        <string>com.liguangming.Shadowrocket</string>
      </dict>
    </array>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
      <string>com.liguangming.Shadowrocket.task</string>
    </array>
    <key>DTSDKName</key>
    <string>iphoneos18.0</string>
    <key>NSBonjourServices</key>
    <array>
      <string>_shadowrocket._tcp</string>
      <string>_shadowrocket._udp</string>
    </array>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>DTPlatformBuild</key>
    <string>22A3362</string>
    <key>DTXcode</key>
    <string>1600</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Scan QR code from photo library</string>
    <key>UISupportedInterfaceOrientations</key>
    <array/>
    <key>DTAppStoreToolsBuild</key>
    <string>16A242b</string>
    <key>UISupportedDevices</key>
    <array>
      <string>iPad11,1</string>
      <string>iPad11,2</string>
      <string>iPad11,3</string>
      <string>iPad11,4</string>
      <string>iPad4,1</string>
      <string>iPad4,2</string>
      <string>iPad4,3</string>
      <string>iPad4,4</string>
      <string>iPad4,5</string>
      <string>iPad4,6</string>
      <string>iPad4,7</string>
      <string>iPad4,8</string>
      <string>iPad4,9</string>
      <string>iPad5,1</string>
      <string>iPad5,2</string>
      <string>iPad5,3</string>
      <string>iPad5,4</string>
      <string>iPad6,11</string>
      <string>iPad6,12</string>
      <string>iPad6,3</string>
      <string>iPad6,4</string>
      <string>iPad6,7</string>
      <string>iPad6,8</string>
      <string>iPad7,1</string>
      <string>iPad7,2</string>
      <string>iPad7,3</string>
      <string>iPad7,4</string>
      <string>iPad7,5</string>
      <string>iPad7,6</string>
      <string>iPad8,1</string>
      <string>iPad8,2</string>
      <string>iPad8,3</string>
      <string>iPad8,4</string>
      <string>iPad8,5</string>
      <string>iPad8,6</string>
      <string>iPad8,7</string>
      <string>iPad8,8</string>
    </array>
  </dict>
</plist>
